@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radial-gradient-1 {
    background: radial-gradient(
      120.35% 220% at 49.86% -6.29%,
      #e50914 0%,
      #0e1b4f 46.15%,
      #0d1121 100%
    );
  }

  .radial-gradient-2 {
    background: radial-gradient(
      51.39% 511.66% at 47.68% -217.91%,
      #ff9900 0%,
      #e50914 17.27%,
      #0e1b4f 79.44%,
      #000413 100%
    );
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
